_site
.sass-cache
.jekyll-metadata
.DS_Store
*.aux
*.synctex.gz
*.log
*.out
*.dvi
*.fls
*.fdb_latexmk
*.bbl
*.blg
.~lock*
*~
*.class
.DS_Store

lectures/class-notes.pdf
_cache
_site
web/hakyll
*.hi
*.o
*.pdf

exams-solutions/
csci150-instructors/
ThinkPython/
16S/
.stack-work
/web/homework
/17S/
lectures/S17/__pycache__/
/18S/
/homework/tracing-practice.tex
/pyconsole.txt
/18F/
/19S/
/19F/

/homework/recursion.tex
*.md.tex
homework/*.tex
