    <!-- Footer -->
    <footer class="py-4 bg-primary">
      <div class="container">
        <p class="m-0 text-center text-white"><small>Copyright &copy; Hendrix Computer Science 2020</small></p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://hypothes.is/embed.js" async></script>
  	<script>
  	// https://github.com/twbs/bootstrap/issues/1768
  var shiftWindow = function() { scrollBy(0, -70) };
  if (location.hash) shiftWindow();
  window.addEventListener("hashchange", shiftWindow);

  //https://codepen.io/lkp/pen/bdPbQx
  $(function(){
       var navMain = $(".navbar-collapse");

       navMain.on("click", "a", null, function () {
           navMain.collapse('hide');
       });
   });
   </script>
