<h2 id="library"><a name="library">Library</a></h2>

<p>Bailey Library’s mission is to collaborate and empower all members of
our community so that they become their best selves, cherish the scope
of human knowledge, and positively contribute to the world. Whether
face-to-face or remote, librarians are happy to help locate quality
resources supporting research and classroom work and to assist with
the critical evaluation of academic information. Librarians and
Library Associates provide individual research assistance by
<a href="https://booking.setmore.com/scheduleappointment/0c09ea67-6506-43a0-8b0a-a52e09102099">appointment</a>
and video chat or by email. The library building is open
Mon-Thurs 8 am-12 midnight, Sat 12 noon-5 pm, Sun 4 pm-12 midnight,
and access to the library’s online resources is
available 24/7. You can <a href="https://www.hendrix.edu/baileylibrary/">visit the library’s
website</a> for more information,
to book an appointment, and to access the library’s Discovery search,
Class Guides, and databases.</p>

<h2 id="writing-center"><a name="writingctr">Writing Center</a></h2>

<p>The Writing Center is a community of peers ready to assist you with
your writing projects, in all genres and fields, and at any stage of
development. We work with you in one-on-one meetings that you can book
in advance or request during our office hours. Virtual appointments
are available for medical reasons or by special arrangement. To book
appointments, and for more information, visit
<a href="https://www.hendrix.edu/writingcenter">hendrix.edu/writingcenter</a> or
contact <a href="mailto:pruneda@hendrix.edu">pruneda@hendrix.edu</a>.  We look
forward to working with you!</p>

<h2 id="diversity-statement">Diversity Statement</h2>

<p>Hendrix College values a diverse learning environment as outlined in the College’s <a href="https://www.hendrix.edu/diversity/statement/">Statement on Diversity</a>. All members of this community are expected to contribute to a respectful, welcoming, and inclusive environment for everyone. If you believe you have been the subject of discrimination, please contact the Interim Assistant Vice-President &amp; Dean of Students, JB Banks, at <a href="mailto:BanksA@hendrix.edu">BanksA@hendrix.edu</a> or reach out via e-mail at <a href="mailto:titleix@hendrix.edu">titleix@hendrix.edu</a>. If you have ideas to improve the classroom experience’s inclusivity, please feel free to contact this professor. For more information on Hendrix’s non-discrimination policies, please visit <a href="Hendrix.edu/nondiscrimination">Hendrix.edu/nondiscrimination</a>.</p>

<h2 id="health--wellness"><a name="wellness">Health &amp; Wellness</a></h2>

<p>If you are struggling with your health in a way that makes it
difficult for you to fulfill your responsibilities in the course,
please let me know!  I would love to work with you to come up with
reasonable and realistic accommodations to help you succeed in the
course.  There are also several resources available to all Hendrix
students, even remotely:</p>

<ul>
  <li>
    <p>The <a href="https://www.conwayregional.org/locations/clinics/hendrix-medical-clinic">Hendrix Medical
Clinic</a>
offers both in-person and tele-health appointments; Hendrix students
get three free appointments per semester.</p>
  </li>
  <li>
    <p>The <a href="https://www.hendrix.edu/counseling/">Hendrix Office of Counseling
Services</a> also offers free
remote appointments, and can help with a host of issues such as
stress, anxiety, depression, grief, or relationship difficulties.
Call 501-450-1448 to make an appointment.</p>
  </li>
</ul>

<h2 id="learning-accommodations"><a name="accommodations">Learning Accommodations</a></h2>

<p>It is the policy of Hendrix College to accommodate students with
disabilities, pursuant to federal and state law. Any student who needs
accommodation in relation to a recognized disability should inform the
instructor at the beginning of the course. Students should also
contact the Office of Academic Success (505.2954;
<a href="mailto:academicsuccess@hendrix.edu">academicsuccess@hendrix.edu</a>) to begin the 
accommodation process.</p>

<h2 id="title-ix-and-discrimination">Title IX and Discrimination</h2>

<p>Title IX Reports of Discrimination Based on Sex, including Sexual Harassment, Sexual Assault, Stalking, Dating Violence, or Gender-Based Harassment
Statements to Consider for your Syllabus:
All faculty and staff at Hendrix College are designated as a “Responsible Employee” and are mandated reporters required to report Sexual Misconduct. Hendrix College requires all faculty and staff to report sexual harassment, sexual assault, dating and domestic violence, and stalking against a student or employee to the Assistant Dean of Students, Paul Crawford, at <a href="mailto:crawfordp@hendrix.edu">crawfordp@hendrix.edu</a>.</p>

<p>To report any Title IX incident or concern, complete the <a href="https://cm.maxient.com/reportingform.php?HendrixCollege&amp;layout_id=3">Incident Reporting Form</a>.</p>

<p>You may also contact Public Safety at 501-450-7711, who can assist you in completing a report.</p>

