<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ site.number }} - {{ site.title }}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{ site.baseurl }}/assets/vendor/bootswatch/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ site.baseurl }}/assets/css/csci150.css" rel="stylesheet">

</head>
