<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl}}/index.html">{{ site.number }}: {{ site.semester }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">


                {% if site.navigation[0] %}
                  {% for item in site.navigation %}
                    {% if item.title %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl}}/#myview" id="download">{{ item.title }}<span class="caret"></span></a>
                      <div class="dropdown-menu" aria-labelledby="download">
                        {% if item.subfolderitems[0] %}
                            {% for entry in item.subfolderitems %}
                                <a class="dropdown-item" href="{{ entry.url }}">{{ entry.page }}</a>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ item.url }}">{{ item.page }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
      </ul>
    </div>
  </div>
</nav>
