/* Font imports and family definitions */

@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700");

/* https://stackoverflow.com/a/56467997 */
html {
  scroll-padding-top: 70px; /* height of sticky header */
}

body {
  font-family: americane, sans-serif;
  padding-top: 54px;
  background-color: var(--cream);
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: "calluna", serif;
font-weight: 400;
font-style: normal;
}

h1 {
  border-block-start: .375rem solid var(--orange-accessible);
  padding-block-start: 1rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/* Color definitions */

:root {
   --main-color:#cb4f0c;
   --dull-color:#ac3911;
   --light-bg:#f2f2f2;

   --orange: #f5822a;
  --orange-accessible: #df6d16;
  --orange-dark: #b85001;
  --rust: #cb4f0c;
  --charcoal: #252524;
  --gray: #8e8e8e;
  --gray-50: #8e8e8e80;
  --black: #000;
  --white: #fff;
  --cream: #f7f5f0;
  --black-80: #000000cc;
}


/* https://www.geeksforgeeks.org/how-to-change-navigation-bar-color-in-bootstrap/ */

/* Modify the background color */
.navbar-custom {
    background-color: var(--orange);
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

footer {
  background-color: var(--black);
}

.btn-primary {
  background-color: transparent;
  color: var(--black);
  border-color: var(--black);
}

.btn:hover {
  background-color: var(--orange);
  color: var(--white);
  border-color: var(--black);
}

.btn:first-child:active {
  background-color: var(--rust);
  color: var(--white);
  border-color: var(--black);
}

.navbar-custom .navbar-brand {
  font-family: "pressio-compressed", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: .8;
}

.nav-link {
  color: var(--white);
}

a {
  color: var(--orange-accessible);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: var(--orange);
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

.internal-header:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

/* From Codecademy Make-A-Website */
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../images/jumbo-background.jpg');
  background-size: cover;
  color: var(--white);
  min-height: 400px;
  text-shadow: 0.25px 0.25px 0.25px var(--black);
}

.jumbotron h2 {
  font-family: "pressio-compressed", sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  line-height: .8;
  margin: 0;
  color: var(--white);
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: var(--white);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table th{
	padding: 3px;
  background-color: var(--orange);
  /*  border:2px solid #000000; */
}

table td{
	padding: 3px;
  /*  border:1px solid #000000; */
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_table_striped */
tr:nth-child(even) {background-color: var(--white);}

.calendar table th {
  background-color: revert-rule;
}

.instructor {
	background-color: var(--white);
	margin: 5px;
	padding: 10px;
	text-align: center;
  color: var(--black);
  text-shadow: none;
  border-block-start: .375rem solid var(--orange-accessible);
  padding-block-start: 1rem;
}

blockquote{
	margin: 30px;
	padding: 10px;
	background-color: var(--light-bg);
}

/* https://idratherbewriting.com/documentation-theme-jekyll/mydoc_alerts.html */
.alert {
    overflow: hidden;
}

.alert-warning {
    color: #444;
}

div.alert code {
    background-color: transparent !important;
}

.note code, .alert code, .warning code {
    color: inherit;
    padding: 0px;
}

.alert {
    margin-bottom:10px;
    margin-top:10px;
}
